

body {
    background: url("../img/bg_image.png") no-repeat center center fixed;
    background-size: cover;
}

h1{
    margin-bottom:2em;
    text-align: center;
}

h1.admin{
    margin-bottom:1.2em;
}

h1.student{
    margin-bottom:1.2em;
}
.col-lg-12{
    background: rgba(0,0,0,0.6);
    margin-top:3em;
    margin-bottom:3em;
    padding-top:1em;
    padding-bottom:3em;
    color:#fff;
    border-radius:10px;
    -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 3, 0, 0.7);
    -moz-box-shadow:    2px 2px 15px 0px rgba(0, 3, 0, 0.7);
    box-shadow:         2px 2px 15px 0px rgba(0, 3, 0, 0.7);
}

.col-md-4{
    padding-left: 160px;
    align-items: center;
}

.col-md-3{
    padding-left: 100px;
    align-items: center;
}

.col-md-12{
    padding-left: 650px; 
    
}

.col-md-6{
    padding-left: 0%;
    margin-left: auto; 
    margin-right: auto;
   
}

.col-lg-4{
    background: rgba(0,0,0,0.6);
    margin-top:300px; 
    padding-top:1em;
    padding-bottom:3em;
    color:#fff;
    border-radius:10px;
    -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 3, 0, 0.7);
-moz-box-shadow:    2px 2px 15px 0px rgba(0, 3, 0, 0.7);
box-shadow:         2px 2px 15px 0px rgba(0, 3, 0, 0.7); 
margin-left:auto; margin-right: auto;
}

.login_form_box{
    background: rgba(0,0,0,0.6);
    margin:10px; 
    padding:10px 20px;
    color:#fff;
    border-radius:10px;
    width: 40%;
}

.login_form{
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.message-box{
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.form-check-button{
    padding-left: 1.25rem;
    display: flex;
    align-items: center;
}

.reg-link{
    color: #008bff;
}

.img-responsive{
    width:200px;
    height:200px;
}


img {
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

img:hover {
    -webkit-box-shadow: 2px 2px 21px 0px rgba(0, 3, 0, 0.91);
    -moz-box-shadow: 2px 2px 21px 0px rgba(0, 3, 0, 0.91);
    box-shadow: 2px 2px 21px 0px rgba(0, 3, 0, 0.91);
    border: 2px solid #fff;
}

h3 {
    margin-bottom: 1.3em;
}

a {
    color: inherit
}

a:hover {
    color: inherit;
    text-decoration: none;
}


h4.att{
    padding-left: 50px;
}

h4.lgn{
    padding-right: 30px;
    
}



.navbar-personal{
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.856);
    background: url("../img/tsec-1.png") no-repeat center center/cover ;
    height: 80px;
    z-index: 1;

}

.nav-buttons{
    background-color: white;
    display: flex;
    padding: 5px 60px 0px 5px;
    font-size: 20px;
    justify-content: flex-end;
    font-family: 'Circular-Loom';
    font-weight: 450;
}

.nav-buttons a{
    margin: 5px;
    margin-bottom: 0px;
    padding: 5px 10px;
}

.nav-buttons a:hover{
    border: 1px solid rgb(207, 206, 206);
    border-radius: 5px;
    background-color: rgb(220, 220, 220);
}


footer {
    text-align: center;
    padding: 9px 0px 0px 0px;
    background-color: #fff;
    color: #000;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.copyright{
    font-family: 'Circular-Loom';
    font-size: 18px;
}

.alert alert-danger{
    margin-top: 50px;  max-height: 50px;
}

.train-img{
    width:900px; margin-right: auto; margin-left: auto;
}

.col-log-12-att{
    padding-top: 100px;
    color: aqua;
}

