{% extends 'base.html' %}

{% block body %}

<div class="nav-buttons">
  
  <a href="/admin_dashboard">Back</a>
</div>

<div class="login_form">
  <div class="login_form_box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="message-box">
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h4 class="text-center mb-2">Capture Photos</h4>
    <form action="{{ url_for('add_photos') }}" method="post">
      <div class="mb-3">
        <label for="sid" class="form-label">Enter Student's UMBID Number:</label>
        <input name="sid" type="text" class="form-control" placeholder="Enter Students UMBID number" id="sid"
          aria-describedby="emailHelp" required>
        <div id="emailHelp" class="form-text">Please enter Student's UMBID Number provided by the institute.</div>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Enter Student's Name:</label>
        <input id="name" name="name" placeholder="Enter Student's Name" type="text" class="form-control" required>
      </div>
      
      <div class="d-flex flex-column mt-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      

    </form>
  </div>
</div>


{% endblock body %}