{% extends 'base.html' %}

{% block body %}
<div class="col-lg-12">

  <a href='/admin_dashboard'>
    <h5 class="text-left"> Back</h5>
  </a>
</div>

<div class="col-lg-4">


  
  <form action="{{ url_for('add_photos') }}" method="post">
    <div class="msg">{{ msg }}</div>
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Enter Roll Number </legend>
    </fieldset>
      <input id="sid" name="sid" type="text" placeholder="Enter Students Name" class="textbox"/></br></br>
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Enter Student Name </legend>
    </fieldset>
      <input id="name" name="name" type="text" placeholder="Enter Students Name" class="textbox"/></br></br>
      <input type="submit" class="btn btn-outline-info" value="Capture"></br></br>
    </form>
</div>



{% endblock body %}