{% extends 'base.html' %}

<!-- <script  type='text/javascript'
src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'>
$(document).ready(function(){
  $("#train").click(function(){
    alert("Training begun. This may take upto 5 minutes. Please wait.");
  });
});
</script> -->

{% block body %}
<div class="col-lg-12">
  <div class="col-sm-12">
    <a href='/logout'>
      <h5 class="text-right"><i class="fa fa-user-circle" aria-hidden="true"></i> Logout</h5>
    </a>
    <h1 class="admin">Welcome, Admin</h1>
  </div>

  <div class="row">
    <div class="col-md-3">
      <a href="/register_student"><img src="../static/img/register.png" class="img-responsive" /></a>
    </div>
    <div class="col-md-3">
      <a href="/add_photos"><img src="../static/img/addphotos.png" class="img-responsive" /></a>
    </div>
    <div class="col-md-3">
      <a href="/train" id="train"><img src="../static/img/train.jpeg" class="img-responsive" /></a>
    </div>
    <div class="col-md-3">
      <a href="/teacher_dashboard"><img src="../static/img/reports.png" class="img-responsive" /></a>
    </div>
  </div>
  <div class="row">
    <div class="col md-3">
      <h4 class="text-center att">Register New Student</h4>
    </div>
    <div class="col md-3">
      <h4 class="text-center att">Add Photos</h4>
    </div>
    <div class="col md-3">
      <h4 class="text-center att">Train</h4>
    </div>
    <div class="col md-3">
      <h4 class="text-center lgn">Dashboard</h4>
    </div>
  </div>
</div>


{% endblock body %}