{% extends 'base.html' %}

{% block body %}
<div class="col-lg-12">
    <div class="col-sm-12">
        {% if ('loggedin' in session) and (session.isTeacher) %}
        <h1>Welcome, {{session.tname}}</h1>
        {% elif 'loggedin' in session %}
        <h1>Welcome, {{session.fname}}</h1>
        {% else %}
        <h1>Attendance System Using Face Recognition</h1>
        {% endif %}
    </div>
    <div class="row">
        {% if 'loggedin' in session %}
        <div class="col-md-4">
            <a href='/mark_attendance_details'><img src="../static/img/enter.png" class="img-responsive" /></a>
        </div>
        {% else %}
        <div class="col-md-4">
            <a href='#' onclick="alertBox()"><img src="../static/img/enter.png" class="img-responsive" /></a>
            <script>
                function alertBox() {
                  alert("Please Log In to Continue!!");
                }
            </script>
        </div>
        {% endif %}

        {% if ('loggedin' in session) and (session.isTeacher) %}
        <script>
            console.log('hello' + '{{ session.isTeacher }}');
        </script>
        <div class="col-md-4">
            <a href='/teacher_dashboard'><img src="../static/img/reports.png" class="img-responsive" /></a>
        </div>

        {% elif 'loggedin' in session %}

        <div class="col-md-4">
            <a href='/student_dashboard'><img src="../static/img/reports.png" class="img-responsive" /></a>
        </div>

        {% else %}

        <div class="col-md-4">
            <a href='#'><img src="../static/img/IT Logo.png" class="img-responsive" /></a>
        </div>

        {% endif %}

        {% if 'loggedin' in session %}
        <div class="col-md-4">
            <a href='/logout'><img src="../static/img/exit.png" class="img-responsive" /></a>
        </div>
        {% else %}
        <div class="col-md-4">
            <a href="/login"><img src="../static/img/login.png" class="img-responsive" /></a>
        </div>
        {% endif %}
        

    </div>

    <div class="row">
        <div class="col md-3">
            <h4 class="text-center">Mark Your Attendance - In</h4>
        </div>
        {% if 'loggedin' in session %}
        <div class="col md-3">
            <h4 class="text-center">Dashboard</h4>
        </div>
        {% else %}
        <div class="col md-3">
            <h4 class="text-center">Defaulters Defaulters</h4>
            <h4 class="text-center">Complete Your 75% Attendance</h4>
        </div>
        {% endif %}

        {% if 'loggedin' in session %}
        <div class="col md-3">
            <h4 class="text-center">Log Out </h4>
        </div>
        {% else %}
        <div class="col md-3">
            <h4 class="text-center">Log In </h4>
        </div>
        {% endif %}
    </div>
</div>



{% endblock body %}