{% extends 'base.html' %}

{% block body %}


<!--
<div class="row">
  <div class="col-md-4">
    <h5>For students</h5>
  <form class="student" action="{{ url_for('login') }}" method="post">
    <div class="msg">{{ msg }}</div>
      <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
      <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br></br>
      <input type="submit" class="btn" value="Sign In"></br></br>
    </form>
</div>
<div class="col-md-4">
  <h5>For teachers</h5>

  -->

  <div class="nav-buttons">
    <a href="/">Home</a>
    <a href="/">Back</a>
  </div>

<div class="login_form">


  <div class="login_form_box">
    <h4 class="text-center mb-4">Login for Teachers</h4>
    <form action="{{ url_for('login') }}" method="post">
      <div class="msg">{{ msg }}</div>
      <form>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input name="username" type="text" class="form-control" placeholder="Enter Your Username" id="username"
            aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Please enter username and password provided by the institute.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input id="password" name="password" placeholder="Enter Your Password" type="password" class="form-control">
        </div>
        <!-- </form>
          <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
          <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br></br>
          <input type="submit" class="btn" value="Sign In"></br></br>
        </form> -->
        <div class="d-flex flex-column">
          <button type="submit" class="btn btn-primary">Submit</button>
          <p class="mt-2 text-center">Don't have an account? <a class="reg-link" href="/register"> <b>Sign Up here</b></a></p>
        </div>
  </div>
</div>




{% endblock body %}