{% extends 'base.html' %}

{% block body %}


<!--
<div class="row">
  <div class="col-md-4">
    <h5>For students</h5>
  <form class="student" action="{{ url_for('login') }}" method="post">
    <div class="msg">{{ msg }}</div>
      <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
      <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br></br>
      <input type="submit" class="btn" value="Sign In"></br></br>
    </form>
</div>
<div class="col-md-4">
  <h5>For teachers</h5>

  -->

  <div class="nav-buttons">
    <a href="/">Home</a>
    <a href="/">Back</a>
  </div>

<div class="login_form">


  <div class="login_form_box">
    <h4 class="text-center mb-4">Details of Attendance</h4>
    <form action="{{ url_for('login') }}" method="post">
      <div class="msg">{{ msg }}</div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Subject
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">UID</a>
          <a class="dropdown-item" href="#">Blockchain</a>
          <a class="dropdown-item" href="#">SM</a>
          <a class="dropdown-item" href="#">BDA</a>
        </div>
      </div>

      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <div class="btn-group-lg" role="group" aria-label="Third group">
            <a href="/live" type="button" class="btn btn-outline-danger">Live</a>
          </div>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
          <a href="/upload" type="button" class="btn btn-outline-success">Static</a>
          <form action="{{ url_for('mark_attendance_details') }}" method="post">
            <input type="file" id="myFile" name="filename">
            <input type="submit">
          </form>
        </div>
      </div>
  </div>
</div>




{% endblock body %}